{{ define "main" }}
    
<h2 style="padding-top: 50px; text-align: center;">Hey there, welcome to my blog!</h2>

<p class="small-font" style="padding-top: 20px;">This blog is a collection of video examples of how people use words and terms. I think this can be a useful resource for non-native speakers and anyone looking to improve their language skills.</p>

    
<h4>How to use the blog?</h4>

<p class="small-font">Just click on the words you like, learn their synonyms, play video examples and have fun.</p>

{{end}}