<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title>{{ .Page.Title }}</title>
    </head>
    <body>
        <header class="main-header">
            <nav>
              <ul class="header-links">
                <li><a class="header-links__home" href="/">Videolexica</a></li>
                <!-- <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul>
            </nav>
          </header>
          <main>
            <!-- {{ partial "navbar.html" . }} -->
            {{ block "main" . }}
            {{ end }}
          </main>
          <footer>
            {{ $currentYear := now.Format "2006" }}
            <p>&copy; {{ $currentYear }} Videolexica.com </p>
          </footer>
    </body>
</html>