{{ define "main" }}
    <a href="/">Home</a>
    <article>
        <h2> {{ .Title }} </h2>
        <!-- {{ .Content }} -->
    </article>
    <span>Synonyms:</span>
    <span>{{ .Params.synonyms }}</span>
    
    <div class="player-container">
        <div id="thumbnail" onclick="loadYouTubeIframe()"></div>
        <div id="player"></div>
      </div>
    
    <div id="start" data-start="{{ .Params.start }}"></div>
    <button id="playBtn">Play</button>
    <button id="replayBtn" style="display: none;">Replay</button>
    <script>
        var videoId = "{{ .Params.videoId }}";
        var start = "{{ .Params.start }}"
    </script>
    <script src="/player-loader.js"></script>
    <script src="/replay-button.js"></script>
{{ end }}