{{ define "main" }}
<article>
    <header>
        <h2 id="title" class="post__title"> {{ .Title }} </h2>
        <!-- {{ .Content }} -->
    </header>
    <section>
        <div class="player-container">
            <div id="thumbnail" onclick="loadYouTubeIframe()"></div>
            <div id="player"></div>
        </div>
        <div id="start" data-start="{{ .Params.start }}"></div>
        <button id="playBtn">Play</button>
        <button id="replayBtn" style="display: none;" >Repeat</button>
    </section>
    <section class="post__synonyms">
        <p>
            <h4>Synonyms:</h4>
        </p>
        <p>
            <span id = "synonyms">{{ .Params.synonyms }}</span>
        </p>
    </section>
    <section>
        <h4>Words from the video:</h4>
        <div class="word-suggestions">
            {{ $filename := .Params.videoId }}
            {{ range index .Site.Data $filename }}
                <span onclick="setNewValues('{{ .word }}','{{ .time }}','{{ .synonyms }}')" class="word-suggestion">{{ .word }}</span>
            {{ end }}
        </div>
    </section>
    <footer class="post-footer">
        <a class="post-footer__back" href="{{ .Site.BaseURL }}#{{.Params.videoId}}" >Back</a>
    </footer>
</article>
<script>
    var videoId = "{{ .Params.videoId }}";
    var start = "{{ .Params.start }}";
    var currentWord = "{{ .Title }}"
</script>
<script src="/player-loader.js"></script>
<script src="/replay-button.js"></script>
<script src="/words-suggestions.js"></script>
{{ end }}